<h1>New research consultancy</h1>

<%= render "form", research_consultancy: @research_consultancy %>

<br>

<div>
  <%= link_to "Back to research consultancies", research_consultancies_path %>
</div>
