<h1>Editing research scholar</h1>

<%= render "form", research_scholar: @research_scholar %>

<br>

<div>
  <%= link_to "Show this research scholar", @research_scholar %> |
  <%= link_to "Back to research scholars", research_scholars_path %>
</div>
