<h1>Editing contract staff</h1>

<%= render "form", contract_staff: @contract_staff %>

<br>

<div>
  <%= link_to "Show this contract staff", @contract_staff %> |
  <%= link_to "Back to contract staffs", contract_staffs_path %>
</div>
