<h1>Editing assistant lecturer</h1>

<%= render "form", assistant_lecturer: @assistant_lecturer %>

<br>

<div>
  <%= link_to "Show this assistant lecturer", @assistant_lecturer %> |
  <%= link_to "Back to assistant lecturers", assistant_lecturers_path %>
</div>
