.place-stat{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}

.place-stat h2{
    color: #3db166;
    font-family: sans-serif;
}

.sem1{
    display: block;
}
.sem2{
    display: block;
}
.sem3{
    display: block;
}
.sem4{
    display: block;
}
.sem5{
    display: block;
}
.sem6{
    display: block;
}

@media only screen and (max-width: 767px){
    .place-stat{
        width: 80vw;
        margin: auto;
    }

    .place-stat h2{
        font-size: 30px;
    }
}


.canva-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75.0000%;
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    margin-top: 1.6em;
    margin-bottom: 0.9em;
    overflow: hidden;
    border-radius: 8px;
    will-change: transform;
  }

  .canva-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
  }
/* js to disable resize for subject and message boxes in contact.html */


#message, #subject {

    resize: none;
}
