<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MCA | Department of MACS | NITK Surathkal</title>
    <link rel="shortcut icon" href="/assets/favicon-w.png" type="image/x-icon">

    <link rel='stylesheet' href='plugins/goodlayers-core/plugins/combine/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='plugins/goodlayers-core/include/css/page-builder.css' type='text/css' media='all' />
    <link rel='stylesheet' href='plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style-core.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/kingster-style-custom.css' type='text/css' media='all' />

    <!-- custom css -->
    <link rel='stylesheet' href='css/custom-css.css' type='text/css' media='all' />

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />

</head>

<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js kingster-body kingster-body-front kingster-full  kingster-with-sticky-navigation  kingster-blockquote-style-1 gdlr-core-link-to-lightbox">

            <div class="kingster-page-title-wrap  kingster-style-medium kingster-left-align">
                <div class="kingster-header-transparent-substitute"></div>
                <div class="kingster-page-title-overlay"></div>
                <div class="kingster-page-title-container kingster-container">
                    <div class="kingster-page-title-content kingster-item-pdlr">
                        <div class="kingster-page-caption"><b>Programmes</b></div>
                        <h1 class="kingster-page-title">B.Tech. (Computational and Data Science (CDS))
                        </h1></div>
                </div>
            </div>
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="kingster-content-container kingster-container">
                    <div class=" kingster-sidebar-wrap clearfix kingster-line-height-0 kingster-sidebar-style-right">
                        <div class=" kingster-sidebar-center kingster-column-40 kingster-line-height">
                            <div class="gdlr-core-page-builder-body">
                                <div class="gdlr-core-pbf-wrapper ">
                                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                            <div class="gdlr-core-pbf-element">
                                              <!--  <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">R&D Projects (Ongoing and Sanctioned)</h3></div>
                                                </div> -->
                                            </div>
                                           <!--
                                             <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 45px ;">
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA601</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Problem Solving and Programming</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA602</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Discrete Mathematical Structures</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA603</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Organization Architecture</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA604</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Problem Solving and Programming Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA605</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Architecture Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem1" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >SM703</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Accounting and Financial Management</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA606</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Data Structures and Algorithms</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA607</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >DataBase Management System</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA608</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computational Mathematics</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA609</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Object Oriented Programming</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA610</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >DSA Lab Using OOP Concept</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem2" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA611</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >DataBase Management System Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA612</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Operating System</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA613</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Software Engineering</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA614</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Introduction to Web Technology</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA615</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Operating System Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA616</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Software Engineering Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA617</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Probability and Statistics</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA618</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Graphics</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA619</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Network</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >SM612</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Managerial Economics</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA620</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Graphics Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA621</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Networks Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA622</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Computer Application Lab</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                </div>
                                            </div>
                                            
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">Elective Courses (ele)</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list sem2"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 1</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Machine Learning</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 2</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4"><a class="gdlr-core-course-item-link" href="#course/advanced-cost-accounting-and-management/index.html"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 3</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem4"><a class="gdlr-core-course-item-link" href="#course/auditing/index.html"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 4</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 5</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 6</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5"><a class="gdlr-core-course-item-link" href="#course/advanced-cost-accounting-and-management/index.html"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 7</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem5"><a class="gdlr-core-course-item-link" href="#course/auditing/index.html"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >Elective 8</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >* To be Decided *</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 3</i></a></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">Mandatory Learning Courses (mlc)</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list sem2"><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA690</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Seminar 1</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                    <div class="gdlr-core-course-item-list sem3" ><a class="gdlr-core-course-item-link" href="#"><span class="gdlr-core-course-item-id gdlr-core-skin-caption" >MA691</span><span class="gdlr-core-course-item-title gdlr-core-skin-title" >Seminar 2</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon" >Credits : 2</i></a></div>
                                                </div>
                                            </div>

                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;">Major Project (mp)</h3></div>
                                                </div>
                                            </div>
                                            -->
                                            <!-- Major Project Section -->
                                            <br>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div ><p style="font-size: 25px" align = "justify"><b>Course Objectives</b></p></div>
                                                </div>
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list "><p style="font-size: 20px " align = "justify" id="btech-programmes-objectives">  
                                                        <ul>
                                                            <li style="font-size: 20px ">To build a strong foundation, both theoretical and practical, needed for a deep understanding and application of Data Science and Scientific Computing, Mathematical and Statistical Modelling.</li>
                                                            <li style="font-size: 20px ">To produce competent professionals catering to the needs of academia, research and development organizations, industries, financial institutions among others.
                                                            </li>
                                                            <li style="font-size: 20px ">To create opportunities for the prospective students to study on the lines of the principles featured in NEP-2020.
                                                            </li>
                                                        </ul>
                                                    </p></div>
                                                </div>
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div ><p style="font-size: 25px" align = "justify"><b>Number of Seats</b></p></div>
                                                </div>
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list "><p style="font-size: 20px " align = "justify" > &nbsp30
                                                    </p></div>
                                                </div>
                                              
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div ><p style="font-size: 25px" align = "justify"><b>Career Options</b></p></div>
                                                </div>
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list "><p style="font-size: 20px" align = "justify" id="btech-programmes-career-options"> 
                                                        <ul>
                                                            <li style="font-size: 20px ">Data Scientist/Analyst/Architect/Engineer
                                                            </li>
                                                            <li style="font-size: 20px ">Business Intelligence Developer</li>
                                                            <li style="font-size: 20px ">Applications/Infrastructure Architect
                                                            </li>
                                                            <li style="font-size: 20px ">Database Designer
                                                            </li>
                                                            <li style="font-size: 20px ">Database Administrator
                                                            </li>

                                                        </ul>
                                                    </p></div>
                                                </div>

                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div ><p style="font-size: 25px" align = "justify"><b>Expected Outcomes</b></p></div>
                                                </div>
                                                <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list">
                                                    <div class="gdlr-core-course-item-list "><p style="font-size: 20px" align = "justify" id="btech-programmes-expected-outcomes"> 
                                                        <ul>
                                                            <li style="font-size: 20px ">To understand the role of Mathematics in Scientific Computing, Analysis of Data and Data Science. 
                                                            </li>
                                                            <li style="font-size: 20px ">To obtain a strong foundation in Mathematics that is both relevant and contemporary. 
                                                            </li>
                                                            <li style="font-size: 20px ">To apply such acquired knowledge to solve real-world problems in computing, gain proficiency and efficiency in the analysis and application of Data Science. 
                                                            </li>
                                                            <li style="font-size: 20px ">To provide opportunities for students to customize their studies in line with NEP-2020. 
                                                            </li>
                                                            <li style="font-size: 20px ">To sync with the needs of the industry. 
                                                            </li>
                                                            <li style="font-size: 20px ">To create scope for higher studies and research.
                                                            </li>

                                                        </ul>
                                                    </p></div>
                                                    <p style="font-size: 20px" align = "justify">To download the Btech (CDS) Curriculum, <a href="https://macs.nitk.ac.in/sites/default/files/CurriculumBTechCDS2022MACSmar20.pdf"><u>click here.</u></a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <!--
                        <div class=" kingster-sidebar-right kingster-column-20 kingster-line-height kingster-line-height">
                            <div class="kingster-sidebar-area kingster-item-pdlr">
                                <div id="text-18" class="widget widget_text kingster-widget">
                                    <div class="textwidget">
                                        <div class="gdlr-core-widget-box-shortcode " style="color: #ffffff ;padding: 30px 45px;background-color: #192f59 ;">
                                            <div class="select-container">
                                                <p style="font-size: 20px;">Select Semester</p>
                                                <select name="semester" id="semester" style="font-size: 20px;" onchange="showFilteredCourse()">
                                                    <option value="any" selected>Any</option>
                                                    <option value="sem1">Semester I</option>
                                                    <option value="sem2">Semester II</option>
                                                    <option value="sem3">Semester III</option>
                                                    <option value="sem4">Semester IV</option>
                                                    <option value="sem5">Semester V</option>
                                                    <option value="sem6">Semester VI</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    -->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <%= javascript_include_tag 'js/jquery/jquery.js', 'js/jquery/jquery-migrate.min.js', 'plugins/goodlayers-core/plugins/combine/script.js' %>

    <script type='text/javascript'>
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "#"
        };
    </script>

    <%= javascript_include_tag 'plugins/goodlayers-core/include/js/page-builder.js', 'js/jquery/ui/effect.min.js' %>

    <script type='text/javascript'>
        var kingster_script_core = {
            "home_url": "index.html"
        };
    </script>

    <%# custom-js file %>
    <%= javascript_include_tag 'js/plugins.min.js', "js/custom-js.js" %>
</body>
</html>